.title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gradient-line {
    background: linear-gradient(180deg, #A8AABF 0%, rgba(53, 70, 242, 0) 84.9%);
    width: 90px;
    height: 7px;
}

.center-title {
    text-align: center;
    white-space: nowrap;
}

.map {
    text-align: center;
    margin: 0 auto;
    height: 585px;
}

.small {
    display: none;
}

.large {
    display: none;
}

.medium {
    margin-top: 100px;
}

.medium-map {
    width: 360px;
    height: 252px;
}

.footer {
    margin-top: 100px;
}

@media (min-width: 0px) and (max-width: 359px) {
    .medium {
        display: none;
    }

    .small {
        display: block;
        margin-top: 100px;
    }

    .small-map {
        height: 203px;
        width: 290px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .gradient-line {
        width: 260px;
        height: 12px;
    }

    .center-title {
        font-size: 20px;
        margin-left: 20px;
    }

    .medium {
        display: none;
    }

    .large {
        margin-top: 100px;
        display: block;
    }

    .large-map {
        width: 600px;
        height: 420px;
    }

    .map {
        height: 650px;
    }
}