.swiper-container {
    width: 340px;  
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
  
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev {
    color: rgba(0, 42, 124, 1);

}

.swiper-button-next {
    color: rgba(0, 42, 124, 1);
}

@media (min-width: 0px) and (max-width: 359px) {
    .swiper-container {
        width: 280px;  
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .swiper-container {
        width: 360px;  
        height: 200px;
    }
}